<div id="homeScreenTmplt" ng-controller="PortalCtrl">
    
    <div class="view home">
        <div class="homeScreenContainer">
            <div class="inner">
                <div>
                    <div><a id="flightSearchBtn" href="javascript:void(0);" class="block" ng-click="goToflightSearch();"><span class="icons flightSearch block"></span><span class="sub-title">Flight search</span></a></div>
                    <div><a id="upcomingPairingBtn"><span class="icons upcomingPairing block transparent"></span><span class="sub-title transparent">Upcoming pairing</span></a></div>
                    <div><a id="pointOfSaleBtn"><span class="icons pointOfSale block transparent"></span><span class="sub-title transparent">Point of sale</span></a></div>
                </div>

                <div>
                    <div><a id="formsBtn"><span class="icons forms block transparent"></span><span class="sub-title transparent">Forms</span></a></div>
                    <div><a id="manualsBtn"><span class="icons manuals block transparent"></span><span class="sub-title transparent">Manuals</span></a></div>
                    <div><a id="translatorBtn"><span class="icons translator block transparent"></span><span class="sub-title transparent">Translator</span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>